<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <h1><%= title %></h1>
    <form class="form-horizontal" method="post" action="/user/register">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-4">
      <input type="email" 
      class="form-control"
       id="email"
       name="email"
        placeholder="Enter email">
    </div>
  </div>

   <div class="form-group">
    <label class="control-label col-sm-2" for="username">Username:</label>
    <div class="col-sm-4">
      <input type="text" 
      name="username"
      class="form-control" id="username" placeholder="Enter Username">
    </div>
  </div>
  <div class="form-group">
    
    <div class="col-sm-4 col-sm-offset-2">
      <button class="btn btn-primary">Register</button>
    </div>
  </div>
  
  </form>
    
    </div>

</body>
</html>